.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.938);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0px 0 0 100px;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-size: cover;
  background-image: url(https://i.ibb.co/bWMs5m8/Untitled-design-2.jpg);
  box-shadow: -5px -5px 30px 5px rgba(255, 0, 0, 0.212),
    5px 5px 30px 5px rgba(0, 0, 255, 0.514);
}
.profile-picture-background:hover {
  height: 100%;
  width: 100%;
  transition: 500ms linear;
  transition-timing-function: ease-out
}
.button-yellow:hover{
    background-color: #8cff32 !important; 
}
.button-black:hover{
    background-color: aliceblue !important;
    color:black;
}
.text-Design{
    font-family: 'Charm', cursive;
}





@media only screen and (max-width: 962px) {
  .profile-picture {
    margin: auto;
    flex-direction: column-reverse;
  }
}
